lexer
lex.yy.c
Lexical_Analysis/lex.yy.c
a.out
Syntax_Analysis/input.txt
Syntax_Analysis/parser.tab.c
parser.tab.h
Syntax_Analysis/y.tab.c
Syntax_Analysis/y.tab.h
parser.tab.c
.gitignore
AST_generation/tree.txt
temp
parser
